.Nparent1{
    width: 100%;
    height: 5rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: black;
   

}
.subp1{
    display: flex;
    gap: 1rem;
    font-size: 13px;
    margin-left: 2rem;
    color: black;

    
}
.subp2{
    display: flex;
    gap: 1rem;
    font-size: 13px;
    margin-right: 2rem;
    color: black;
}
.navstky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}