/* row_1 Landing Page */
.row_1 {
    display: flex;
    height: 500px;
    /* border: 1px solid red; */
    margin-top: 80px;
  }
  .row_1_left {
    /* border: 1px solid black; */
    margin-left: 200px;
    width: 600px;
  }
  
  .row_1_left > h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 65px;
  }
  .row_1_left > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
  
  .row_1_right {
    /* border: 1px solid black; */
    width: 600px;
  
    margin-left: 100px;
  }
  
  .row_1_right > img {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    object-fit: cover;
  }
  .btn_row1_1 {
    background-color: rgb(120, 86, 255);
    padding: 20px 70px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    color: white;
    border: 1px solid rgb(120, 86, 255);
    border-radius: 5px;
  }
  
  .btn_row1_2 {
    background-color: white;
    padding: 20px 80px;
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    color: rgb(120, 86, 255);
    border: 1px solid rgb(120, 86, 255);
    border-radius: 5px;
  }
  .btn_row1_2:hover {
    background-color: rgb(120, 86, 255);
    color: white;
  }
  /* Row 2 Landing page */
 .box_2 {
    background-color: #f6f6f7;
    /* background-color: black; */
    height: 300px;
  
    /* display: flex; */
  }
  
  .box_2_logo {
    display: flex;
    /* border: 1px solid black; */
    margin-left: 280px;
  }
  .box_2_p {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 30px;
  }
  .logo {
    height: 100px;
    /* border: 1px solid red; */
    padding-left: 50px;
  }
  /* Row 3 Landing Page */
  /* .box_3 {
      border: 1px solid red;
      clear: both;
  }
  .box_3_header {
      text-align: center;
      font-size: 36px;
      font-weight:500;
      line-height: 45px;
  }
  .box_3_grid {
      display: flex;
  }
  .box_3_right {
      border: 1px solid black;
  }
  .box_3_right >img {
      width: 500px;
      object-fit: cover;
  } */
  .box_3 {
    /* margin: 100px 0 ; */
    height: 500px;
    /* border: 1px solid red; */
  }
  
  .right_img_2 {
    float: right;
  }
  .box_3_heading {
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    line-height: 45px;
    font-weight: 500;
    font-style: normal;
    color: #111324;
    width: 100%;
    padding: 0;
    margin-top: 50px;
    padding-top: 100px;
  }
  
  .right_img_1 {
    display: flex;
    margin-left: 130px;
  }
  .right_img_1 {
    display: flex;
  }
  .box_3 {
    display: flex;
    margin: 0px 30px;
  }
  .content {
    width: 1200px;
  }
  .content > h3 {
    text-align: left;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Graphik Web', Helvetica, sans-serif;
  }
  a {
    text-decoration: none;
  }
  .content > p {
    text-align: left;
    margin: auto;
    font-size: 15px;
    margin-left: 50px;
    color: rgb(110, 108, 108);
  }
  .box1.img_right.img_top {
    top: -110px;
    left: 100px;
    position: relative;
    z-index: 10;
  }
  .box1.img_right.img_middle {
    position: absolute;
    top: 20px;
    left: 120px;
  
    z-index: 7;
  }
  .img_right.img_bottom {
    position: relative;
    top: 30px;
    right: 140px;
  
    z-index: 3;
  }
  .bar_grey {
    height: 20px;
    width: 100%;
    padding-top: 10px;
    background-color: #8484be;
    background-image: url(https://i1.campaignmonitor.com/assets/images/global/browser-bar.svg);
    background-position: left center;
    background-repeat: no-repeat;
    margin-right: -270px;
    margin-bottom: 30px;
  }
  .btn_free {
    padding: 20px 30px;
    background-color: #6f4bff;
    font-family: 26px 'Graphik Web', Helvetica, sans-serif;
    color: #fff;
  }
  .btn_free:hover {
    background-color: #7856ff;
  }
  .btn_free > a {
    color: white;
  }
  .bottom_part > a {
    text-align: center;
    color: white;
    direction: columns;
  }
  .img_imp_top {
    position: relative;
    z-index: 2;
    top: 20px;
    right: 100px;
  }
  
  /* Row 4 landing page */
  /* Row 4-Free Tempalte */
  .row_4 {
    height: 600px;
    width: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
  }
  
  .tempalate_img {
    display: flex;
  
    /* border: 1px solid red; */
  }
  
  .tempalate_img > div {
    width: 300px;
    height: 400px;
  
    margin: 10px;
  }
  .tempalate_img > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
  }
  .row4_col2 {
    margin-left: 100px;
    /* border: 1px solid red; */
    height: 400px;
  }
  
  .row4_font {
    font-size: 38px;
    line-height: 45px;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  .row4_para {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 10px;
  }
  .btn_row4,
  .btn_support {
    border: 2px solid rgb(120, 86, 255);
    background-color: white;
    font-size: 17px;
    padding: 20px 30px;
    line-height: 15px;
    color: rgb(120, 86, 255);
    border-radius: 2px;
    font-weight: 400;
    margin-top: 20px;
  }
  .btn_row4:hover,
  .btn_support:hover,
  .btn_auto:hover {
    background-color: rgb(120, 86, 255);
    color: white;
  }
  
  /* Support */
  
  .row_5 {
    /* background: https://i3.campaignmonitor.com/assets/images/heroes/banner-ripcurl.jpg; */
    background-image: url(https://i3.campaignmonitor.com/assets/images/heroes/banner-ripcurl.jpg);
    background-size: cover;
    height: 450px;
    color: white;
  }
  .row5_para {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    /* border: 1px solid red; */
    padding: 150px 0px 0px 0px;
  }
  .row5_name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-top: 30px;
    font-weight: 500;
  }
  .row5_outer {
    margin-left: 250px;
  }
  /* .btn_support {
      border: 1px solid rgb(120, 86, 255);
      background-color: white;
      font-size: 17px;
      padding: 20px 30px;
      line-height: 15px;
      color: rgb(120, 86, 255);
      border-radius: 2px;
      font-weight: 500;
      margin-top: 20px;
  
  } */
  
  /* Automate Row 6 */
  .automate {
    display: flex;
    /* border: 1px solid red; */
    height: 460px;
    margin: 100px 100px;
    /* padding-left: 100px; */
    align-items: center;
  }
  .auto_right {
    /* border: 1px solid black; */
    padding: 30px;
    /* height: 300px; */
  
    margin-left: 100px;
  }
  .btn_auto {
    border: 2px solid black;
    background-color: white;
    font-size: 17px;
    padding: 20px 30px;
    line-height: 15px;
    color: rgb(120, 86, 255);
    border-radius: 2px;
    font-weight: 500;
    margin-top: 20px;
  }
  .automate > div > h3 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
  }
  .automate > div > p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
  }
  .auto_img {
    width: 600px;
  
    margin-left: 300px;
  }
  
  .auto_img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
  }
  
  /* Sucess 2-Part */
  .row_6 {
    /* background: https://i3.campaignmonitor.com/assets/images/heroes/banner-ripcurl.jpg; */
    background-image: url(https://i3.campaignmonitor.com/assets/images/home/girlboss-bg.jpg);
  
    background-size: cover;
    height: 450px;
    color: white;
  }
  .row6_para {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    /* border: 1px solid red; */
    padding: 100px 0px 0px 0px;
    /* border: 1px solid white; */
  }
  .row6_name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-top: 30px;
  }
  .row6_outer {
    margin-left: 225px;
    /* border: 1px solid red; */
  }
  /* Row7-landing Page */
  .row_7 {
    /* background-color: rgb(120, 86, 255); */
    background: linear-gradient(to right, #7856ff 0, #65b9ff 100%);
    height: 500px;
  }
  .row_7_outer {
    /* border: 1px solid red; */
    padding: 125px 500px;
    /* justify-content: center;
       */
    text-align: center;
    color: #fff;
  }
  .row_7_outer > h1 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
  }
  .row_7_outer > p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }