* {
    font-family: sans-serif;
  }
  /* {
          font-family: sans-serif;
      }
      /* Headers */
  /* Headers */
  .head {
    background-color: #111324;
    height: 80px;
    width: 100%;
    margin: 0;
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
  }
  
  a {
    color: white;
    /* font-size:16px ; */
    /* line-height: 16px; */
    font-weight: 200;
    margin-left: 20px;
    text-decoration: none;
    padding: 10px;
    /* border: 1px solid red; */
  }
  a:hover {
    color: teal;
  }
  .signup_active a {
    background-color: teal;
    color: white;
    border-radius: 5px;
  }
  .header_outer {
    display: flex;
    color: white;
    padding-top: 10px;
    height: 40px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 200;
    margin-left: 1%;
    margin-top: 5px;
  }
  .header_logo {
    color: white;
  
    /* border: 1px solid white; */
    padding: 15px 0px;
    margin-left: 2%;
    width: 15%;
  }
  .header_middle {
    display: flex;
    /* border: 1px solid red; */
    margin-left: 2%;
    margin-top: 10px;
  }
  .header_last {
    display: flex;
    /* border: 1px solid red; */
    margin-left: 5%;
    margin-top: 10px;
  }
  
  h1 {
    font-family: 'Graphik Web', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 16px;
    font-weight: 550;
    color: #111324;
    width: 100%;
    text-align: center;
    margin: 10px auto 10px;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-top: 40px;
  }
  .box-1 {
    text-align: center;
  }
  .box-1 > p {
    font-size: 20px;
  }
  
  .btn-left > a {
    color: #fff;
    text-decoration: none;
    text-align:left
  }
  .btn-right > a {
    color: #111324;
    text-decoration: none;
  }
  
  .btn-left {
    background-color: #7856ff;
    padding: 25px 45px;
  
    color: #fff;
    text-align: center;
    margin: auto;
    /* margin-left: 600px; */
    border-radius: 3px;
    border: #7856ff;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
  }
  .btn-right {
    padding: 25px 45px;
    background: #51cfdb;
  
    margin: 10px 20px;
    border-radius: 3px;
    border: #51cfdb;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
  }
  .slider {
    text-align: center;
    padding: 50px 0;
    font-size: 25px;
    font-weight: 500;
    /* margin: auto; */
    text-align: center;
  
    font-family: 'Graphik Web', Helvetica, sans-serif;
  }
  .num {
    background-color: #7856ff;
    color: white;
  }
  input[type='text'] {
    /* background-color: #7856ff; */
    color: black;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    width: 70px;
    text-align: center;
    border: #7856ff;
    font-family: 'Graphik Web', Helvetica, sans-serif;
  }
  a {
    text-decoration: none;
  }
  .btn-left2 > a {
    color: white;
  }
  .btn-left2 {
    background-color: #7856ff;
    padding: 10px 80px;
  
    color: #fff;
    text-align: center;
    border: #7856ff;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
    margin-left: 70px;
  }
  body {
    font-family: 'Graphik Web', Helvetica, sans-serif;
  }
  
  .targetNum {
    font-size: 80px;
    font-weight: 750;
    font-family: 'Graphik Web', Helvetica, sans-serif;
    margin-left: 50px;
  }
  .dollar {
    font-size: 35px;
    font-weight: 600;
    margin: -15px;
    margin-left: 20px;
    line-height: 100px;
    color: #111324;
    position: absolute;
  }
  .month {
    color: black;
  }
  
  h3 {
    color: #7856ff;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Graphik Web', Helvetica, sans-serif;
    text-align: center;
  }
  .bold {
    font-weight: bold;
    color: black;
  }
  .headContent > p {
    color: #8a8b93;
    text-align: center;
  }
  
  .box-2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin-left: 150px;
    background-color: white;
    grid-template-areas: 'lef mid rig';
  }
  
  .left_div {
    display: flex;
    border: 1px solid red;
    padding: 30px;
    width: 400px;
    text-align: left;
    grid-area: lef;
  }
  .midSection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 10px solid blue; */
  }
  .mid_div {
    grid-area: mid;
    display: flex;
    border: 10px solid green;
    /* width: 200px; */
    /* border: 0.01px solid #8a8b93; */
    padding: 30px;
    border-top: none;
    border-bottom: none;
  }
  .right_div {
    grid-area: rig;
    border: 1px #8a8b93;
    padding: 30px;
    display: flex;
    border: 10px solid yellow;
    /* width: 100px; */
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
  li {
    font-size: 18px;
    line-height: 18px;
    color: #5d5d66;
    padding-left: 18px;
    /* position: relative; */
    margin-bottom: 12px;
    text-align: left;
  }
  .box-3 {
    margin: 100px;
    text-align: center;
    color: #111324;
    font-weight: 400;
  }
  .bottom-box {
    display: grid;
    grid-gap: 40px;
    margin: 50px 300px;
    grid-template-areas:
      'a b c'
      'd e f'
      'g h i';
  }
  .r1_c1 {
    grid-area: a;
  }
  .r1_c2 {
    grid-area: b;
  }
  .r1_c3 {
    grid-area: c;
  }
  .r2_c1 {
    grid-area: d;
  }
  .r2_c2 {
    grid-area: e;
  }
  .r2_c3 {
    grid-area: f;
  }
  .r3_c1 {
    grid-area: g;
  }
  .r3_c2 {
    grid-area: h;
  }
  .r3_c3 {
    grid-area: i;
  }
  span {
    font-size: 20px;
    font-weight: 400;
  }
  ul {
    list-style: none;
  }
  
  ul li:before {
    content: '\2713\0020';
    display: inline-block;
    color: green;
    width: 25px;
  }
  .question {
    text-align: center;
    margin: 50px;
    font-size: 30px;
    font-weight: 700;
  }
  .price {
    margin-left: 70px;
  }
  
  .box3-link {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
  
  .row_7 {
    /* background-color: rgb(120, 86, 255); */
    background: linear-gradient(to right, #7856ff 0, #65b9ff 100%);
    height: 500px;
  }
  .row_7_outer {
    /* border: 1px solid red; */
    /* padding: 125px 500px; */
    display: grid;
    align-items: center;
    margin: auto;
    width: 40%;
    text-align: center;
    color: #fff;
  }
  .row_7_outer > h1 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
    color: white;
  }
  .row_7_outer > p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
  .btn_support {
    padding: 18px 50px;
    border: 1px solid white;
    width: 50%;
    margin: auto;
  }
  .btn_support:hover,
  .btn_auto:hover {
    background-color: rgb(120, 86, 255);
    color: white;
  }
  
  /* Footer */
  .footer {
    background-color: #111324;
    border: 0;
    margin: 0;
    /* border: 1px solid black; */
    height: 400px;
    color: white;
  }
  .top_footer {
    display: flex;
    /* border: 1px solid white; */
    height: 250px;
  }
  .top_right {
    display: flex;
    margin-left: 1%;
    padding-top: 50px;
  }
  .product,
  .company,
  .email_marketing,
  .community {
    /* border: 1px solid white; */
    width: 200px;
    line-height: 20px;
    font-weight: 400;
  }
  .footer_logo {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;
  }
  .top_right_heading {
    margin-bottom: 20px;
    color: #8a8b93;
  }
  .para > div {
    padding: 5px;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .headDiv{
    display: flex;
    border: 1px solid red;
  }
  